.about-container{
  height: 884px;
}

.about-background {
    background-image: url('../../Images/About.jpg');
    height: 100%;
}

.text-zone {
    color: #fff;
    text-align: center;
    padding: 50px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 73px;
    max-width: 2000px;
    display: block;
  }


.about-header{
  color: #fff59d;

  white-space: nowrap;
  font-size: 50px;
  text-align: center;
  text-shadow: 0 0 10px #fff59d;
  margin: 0;
  padding: 50px;
}