.app__navbar {
    background-color: #373B44;
    transition: 0.8s all ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}


.app__navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    list-style: none;

li{
    margin: 0 1rem;
    cursor: pointer;

    flex-direction: column;

    div{
        width: 5px;
        height: 5px;
        background: transparent;
        border-radius: 50%;

        margin-bottom: 100px;
    }

    a{
        color: #fff;
        text-decoration: none;
        flex-direction: column;

        text-transform: uppercase;
        font-weight: 500;

        cursor: pointer;
    &:hover {
        color: #fff59d;
        transition: 0.2s ease-in-out;
        text-shadow: 0 0 10px #fff59d;
      }
    &.active {
        border-bottom: 3px solid #fff59d
}
    }
}
}


